body{
    padding-top: 50px;
    padding-bottom: 20px;
    font: 14px Helvetica, Arial, sans-serif;
}

.messageBoard{
	width: 100%;
	height: 300px;
	background-color: #f7f8ff;
	margin: 25px 0;
	border-width: 8px;
	line-height: 20px;
	font-size: 12px;
	overflow: auto;
}

.messageBoard > div{
	padding-left: 3px;
}

.comment{
	display: flex;
	width:100%;
	list-style-type: none;
	justify-content: flex-end;
}

.postArea{
	width: 100%;
}

.postArea > textarea{
	margin-left: 10px;
	width: inherit;
	border-color: black;
	border-width: 1;
}

.belowComment{
	display: flex;
	justify-content: flex-end;
}

.postButton{
	
	font-size: 18px;
	color: #009933;
	border-width: 0;
	background-color: #ffffff;
}

.selectMessageBox{
	width: 100%;
	height: auto;
	margin: 25px 0;
	border-width: 10px;
	border-color: #99ccff;
}